:root {
  --main-color:#e8eff5;
}
@font-face {
  font-family: 'kanit';
  src: url('media/fonts/kanit-light-webfont.woff') format('woff');
}
p {
  color: #36474f;
}
body {
  background-color: white;
}
.description {
  background-color: var(--main-color);
  font-family: 'kanit';
}
.ubication {
  background-color: var(--main-color);
}
.hours_of_attendance {
  background-color: var(--main-color);
}
