:root {
  --main-color:#e8eff5;
}
p {
  color: #36474f;
}
body {
  background-color: white;
}
.description {
  background-color: var(--main-color);
}
.ubication {
  background-color: var(--main-color);
}
.hours_of_attendance {
  background-color: var(--main-color);
}
