:root {
  --main-color:#e8eff5;
}
@font-face {
  font-family: 'kanit';
  src: url('../../Sitio-Web-Tecnolog-a/media/fonts/Kanit-Light.ttf') format('truetype');
}
p {
  color: #36474f;
  font-famili: 'kanit';
}
.main-page {
  background-color: white;
  font-family: 'kanit';
}
.description {
  background-color: var(--main-color);
}
.ubication {
  background-color: var(--main-color);
}
.hours_of_attendance {
  background-color: var(--main-color);
}
